/.vscode/
/.vs/
/.idea/
/.zed/
/.cursor/
/.claude/
/.codex/
/.agents/
/.discard/

# macOS
.DS_Store

# mise
/mise.local.toml

# cmake
/CMakeUserPresets.json
/cmake-build-*/
/build-*/
/build_*/
/build/
/out/
