/.vscode/
/.vs/
/.idea/
/.zed/
/.cursor/
/.claude/
/.agents/
/.discard/
/.cache/

# macOS
.DS_Store

# mise
/mise.local.toml

# cmake
/__cmake_systeminformation/
/CMakeUserPresets.json
/cmake-build-*/
/build-*/
/build_*/
/build/
/out/
